################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MailMergeV2/bin
/MailMergeV2/obj

