<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/99a384fd-3a68-4a1a-bf67-584a3b0d7813/resourceGroups/PruebaWebApp01/providers/Microsoft.Web/sites/PruebaWebApp01</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pruebawebapp01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>e5354f5a-663b-4f19-a7f3-e397c29f9fba</ProjectGuid>
    <PublishUrl>https://pruebawebapp01.scm.azurewebsites.net/</PublishUrl>
    <UserName>$PruebaWebApp01</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>